a {
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

#search{
    display: flex;
    align-items: center;
    border: solid 0.1px #cecece;
    border-radius: 30px;
    height: 40px;
}

.fa-search{
    margin-left: 16px;
    color: #cecece;
    margin-right: 16px;
}

#buttons{
    display: flex;
    justify-content: center;
}

.button{
    border: solid 0.1px #f8f8f8;
    margin: 8px;
    padding: 12px;
    color: #424242;
}

.button:hover{
    color: black;
    border: solid 0.1px #cecece;
    background-color: #f8f8f8;
}

#search:hover{
    border: solid 0.1px white;
    box-shadow: 0px 0px 16px -8px black;
}

small{
    margin: 8px;
}

#topBar{
    background-color:#f1f1f1;
}

body{
    font-family: arial;
}

form{
    margin-left: 32px;
}

td{
    padding-right:32px;
    padding-bottom:16px;
}
